<section id="blog" class="blog">
  <div class="container" id="secondary-header-container">
    <h2 class="secondary-header">
      Latest Blog Entries
    </h2>
  </div>
  <div class="featured-blog-container">
    <div class="blog-content-wrapper">
      <div class="blog-content">
        <h3 class="blog-content__header">
          <a href="/" target="_blank">
            Sample blog title of random length goes here.
          </a>
        </h3>
        <h5 class="blog-subheader">
          Uncategorized - July 29th, 2018 - 4 min
        </h5>
        <p class="blog-excerpt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu blandit est. Nullam vel ante elit. Nam vel felis venenatis, rutrum magna at, congue lorem. Sed consectetur, metus ac mattis laoreet, diam elit scelerisque.
        </p>
        <div class="blog-footer">
          <div class="comment-count-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="comment-icon" width="16" height="16" viewBox="0 0 24 24">
              <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM18 14H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <h5 class="comment-number">
              10 Comments
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-content-wrapper">
      <div class="blog-content">
        <div class="blog-image-container">
          <img class="blog-image" src="assets/img/blog-pic-1.jpg">
        </div>
        <h3 class="blog-content__header">
          <a href="/" target="_blank">
            This blog entry uses a photo instead of a traditional text excerpt to summarize its contents.
          </a>
        </h3>
        <h5 class="blog-subheader">
          Uncategorized - July 29th, 2018 - 4 min
        </h5>
        <div class="blog-footer">
          <div class="comment-count-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="comment-icon" width="16" height="16" viewBox="0 0 24 24">
              <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM18 14H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <h5 class="comment-number">
              10 Comments
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-content-wrapper">
      <div class="blog-content">
        <h3 class="blog-content__header">
          <a href="/" target="_blank">
            Sample blog title of random length goes here.
          </a>
        </h3>
        <h5 class="blog-subheader">
          Uncategorized - July 29th, 2018 - 4 min
        </h5>
        <p class="blog-excerpt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu blandit est. Nullam vel ante elit. Nam vel felis venenatis, rutrum magna at, congue lorem. Sed consectetur, metus ac mattis laoreet, diam elit scelerisque.
        </p>
        <div class="blog-footer">
          <div class="comment-count-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="comment-icon" width="16" height="16" viewBox="0 0 24 24">
              <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM18 14H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <h5 class="comment-number">
              10 Comments
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
