<section id="blog" class="blog">
  <div class="container">
    <h2 class="secondary-header">
      Latest Blog Entries
    </h2>
  </div>
  <div class="featured-blog-container">
      <div class="content-link-wrapper">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Sample blog title of random length goes here.
            <h4>
              Uncategorized - July 29th, 2018 - 4 min
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu blandit est. Nullam vel ante elit. Nam vel felis venenatis, rutrum magna at, congue lorem. Sed consectetur, metus ac mattis laoreet, diam elit scelerisque.
            </p>
            <div class="comment-icon-container">
              <span class="comment-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM18 14H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
                <h5>
                  10 Comments
                </h5>
              </span>
            </div>
          </h3>
        </div>
      </div>




    <a href="/engine.html" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Entry 2
          </h3>
        </div>
      </div>
    </a>
    <a href="/pwlarue.html" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Entry 3
          </h3>
        </div>
      </div>
    </a>
    <a href="/destiny.html" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Entry 4
          </h3>
        </div>
      </div>
    </a>
  </div>
</section>
