<section id="blog" class="blog">
  <div class="container">
    <h2 class="secondary-header">
      Latest Blog Entries
    </h2>
  </div>
  <div class="featured-blog-container">
    <a href="/" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Entry 1
          </h3>
        </div>
      </div>
    </a>
    <a href="/engine.html" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Entry 2
          </h3>
        </div>
      </div>
    </a>
    <a href="/pwlarue.html" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Entry 3
          </h3>
        </div>
      </div>
    </a>
    <a href="/destiny.html" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Entry 4
          </h3>
        </div>
      </div>
    </a>
  </div>
</section>
