<footer id="contact" class="footer">
  <div class="container">
    <h2 class="secondary-header">
      My various social media.
    </h2>
  </div>
  <div class="container">
    <ul class="social-list">
      <li class="social-list__item">
        <a href="https://github.com/jackys95" class="social-list__item-link">
          GitHub
        </a>
      </li>
      <li class="social-list__item">
        <a href="https://twitter.com/blankdotatwo" class="social-list__item-link">
          Twitter
        </a>
      </li>
      <li class="social-list__item">
        <a href="https://twitch.tv/blankdotatwo" class="social-list__item-link">
          Twitch
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <p class="credits">
      Thank you to Daniel Destefanis for his <a href="https://github.com/destefanis/new-portfolio" class="social-list__item-link"> website design</a>.
    </p>
</footer>
