<section id="projects" class="projects">
  <div class="container">
    <h2 class="secondary-header">
      Projects
    </h2>
  </div>
  <div class="featured-projects-container">
    <a href="/" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image" src="assets/img/minecraft.png">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Minecraft AWS Server
          </h3>
        </div>
      </div>
    </a>
    <a href="/" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image" src="assets/img/dota.png">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Dota 2 Web Spectator
          </h3>
        </div>
      </div>
    </a>
    <a href="/" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image" src="assets/img/web.png">
        <div class="content-link-content">
          <h3 class="link-content__header">
            Personal Website
          </h3>
        </div>
      </div>
    </a>
    <a href="/" class="content-link content-link--50">
      <div class="content-link-wrapper">
        <img class="content-link-image" src="assets/img/stubhub.png">
        <div class="content-link-content">
          <h3 class="link-content__header">
            StubHub Alerts
          </h3>
        </div>
      </div>
    </a>
  </div>
</section>