/*
 * CSS for both blog and projects section
 * Needs refactor to separate 
 * content is shared between blog and projects section
 */

#blog-roll {
  margin-top: 2em;
  padding: 4em 0 0;
  background: $grey;

  @include min($tablet) {
    margin-top: 2em;
    padding: 4em 0 0;
  }
}

#secondary-header-container {
  width: 50%;
  margin: 0px 10px;
  padding-left: 15px;
  padding-right: 15px;

  @include min($tablet) {
    margin: 0px auto;
    min-width: 767px;
  }
}

.secondary-header {
  display: flex;
  flex: 1 1 100%;
  margin-bottom: 0.5em;
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: 400;

  @include min($tablet) {
    font-size: $h2-font-size;
  }

  &.header--white {
    color: $white;
  }
}

.featured-blog-container {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 100%;
  padding-bottom: 3em;
  margin: auto 10px;
  padding-left: 15px;
  padding-right: 15px;

  @include min($tablet) {
    margin: auto;
    width: 50%;
    padding-bottom: 6em;
    min-width: 767px;
  }
}

.content-link {
  display: inline-block;
  padding: 15px;
  flex: 0 0 100%;

  &.content-link--50 {
    flex: 1 1 100%;

    @include min($tablet) {
      flex: 0 0 50%;      
    }
  }
}

.blog-content-wrapper {
  transition: all 200ms ease;
  transform: translateY(0);
  background: $white;
  box-shadow: 0 0 0 rgba($black, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 23px 23px 10px;
  margin-bottom: 24px;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba($black, 0.1);
  }
}

.blog-content {
  position: relative;
  z-index: 10;
  width: 100%;
  background: $white;
}

.blog-content__header {
  margin-bottom: 0;
  color: $black;
  letter-spacing: 0;
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 500;
  transition: color 10s ease; /* I think this doesn't do anything, test more. */

  @include min($tablet) {
    font-size: 2.4rem;      
  }
}

.blog-image-container {
  position: relative;
  margin: 10px auto 15px;
}

.blog-padded-box {
  height: 0;
  padding-bottom: 30%;
}

.blog-image {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.link-content__header {
  text-align: center;
  margin-bottom: 0;
  color: $black;
  letter-spacing: 0;
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 400;
  transition: color 10s ease; /* I think this doesn't do anything, test more. */

  @include min($tablet) {
    font-size: 2.4rem;      
  }
}

.blog-subheader {
  font-size: 1.2rem;
  font-style: italic;
}

.blog-excerpt {
  font-weight: 200;
  margin: 10px 0px;
}

.blog-footer {
  overflow: auto;
}

.blog-subheader + .blog-footer {
  margin-top: 10px;
}

.comment-count-container {
  float: right;
}

.comment-icon {
  display: inline-block;
  vertical-align: middle;
}

.comment-number {
  display: inline-block;
  font-size: 1.2rem;
}
